<div class="container-sm rounded shadow-sm p-4" style="max-width: 580px;" *ngFor="let item of cartItems">
    <div class="row" style="height: 8rem;">
        
        <div class="col-1 align-self-center p-1">

            <div>
                <input class="form-check-input p-3 rounded-circle shadow" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
              </div>
        </div>
            <div class="col-3 p-0">
            <img
            [src]="item.food.imageUrl"
            class="img-fluid object-fit-cover w- h-100 rounded-top"
            alt="img"
            
            />
        </div>
        <div class="col-8" >
            <div class="row" style="height: 5.5rem;">

                <h6 class="text-truncate text-wrap fw-bold text-danger pb-0" style="height: 3cap;line-height:1;">{{item.food.name}}</h6>
                <p class="fw-lighter align-bo  text-body-secondary text-truncate pt-0" style="font-size: small;height: 30px;text-wrap: balance; line-height: 1;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, et ipsum quasi corporis, illo cumque fuga porro commodi soluta quod totam minima doloremque beatae quae animi deserunt aperiam eius sit!</p>
            </div>
            <div class="table-group-divider pt-1"></div>
            <div class="row align-self-end justify-content-center align-items-center text-center" style="height: 2.5rem;">
                <div class="col-4" style="height: fit-content;">
                    <!-- product price -->
                    <h6 class="fw-bold text-danger">{{item.food.price}}</h6>
                </div>
                <div class="col  ">
                    <!-- product qt -->
                    <div class="input-group start-50" style="width: 120px;">
                        <button class="btn btn-outline-secondary" type="button" id="">
                            -
                        </button>
                        <input
                            type="text"
                            class="form-control"
                            [value]="item.quantity"
                            aria-label="Button"
                            aria-describedby=""
                            
                        />
                        <button (click)="click()" class="btn btn-outline-secondary" type="button" id="">
                            +
                        </button>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>