<nav class="navbar navbar-expand-md container-fluid">
  <div class="container-fluid">

  
  <a class="navbar-brand" href="#">Flavorfulxe</a>
    <button class="navbar-toggler p-2 fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <li class="nav-item"><a class="nav-link active" routerLink="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/cart">SignUp</a></li>
      </ul>
      <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <li class="nav-item"><a class="nav-link active" routerLink="/cart">cart
          <span class="badge bg-danger rounded-circle">{{badge}}</span>
        </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/profile">john
          
        </a></li>
      </ul>
    </div>
  </div>
</nav>