@import '../node_modules/css-star-rating/scss/star-rating.scss';
@import "primeicons/primeicons.css";
html, body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}